/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}


md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
  height:70px;;
}

md-icon.avatar {
  margin-right: 20px;
}

  md-list .md-button.selected {
    color: #03a9f4;
  }


button#main {
  margin-bottom: 10px;
}

md-sidenav > md-toolbar {
  height:64px;
}

md-list-item {
  overflow: hidden;
}


/* Utils */

/* Typography support coming in 0.8.0 */

.avatar {
  position:relative;
  width: 54px;
  height: 54px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;

}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.card-media {
  background-color: #999999; 
}

.md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
/*.md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}*/
.md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.user-avatar {
  border-radius: 99%;
}

.cm-fab-fixed{
  position: fixed !important;
}



.userContent .md-datepicker-button {
  width: 36px; 
}

md-toast.md-error-toast-theme div.md-toast-content{
    color: white !important;
    background-color: red !important;
}

md-toast.md-success-toast-theme div.md-toast-content{
    color: white !important;
    background-color: green !important;
}

md-toast.md-info-toast-theme div.md-toast-content{
    color: white !important;
    background-color: blue !important;
}

.gridListdemoDynamicTiles md-icon {
  width: 50%;
  height: 30%; 
}


.usersGridView md-grid-tile {
    transition: all 500ms ease-out 100ms;
    overflow: hidden;
     background: rgba(255, 255, 255, 0.5);
}


.usersGridView md-grid-tile img{
      width: 100%;
      height: 100%;

    }


.usersGridView md-grid-tile h2{
  margin: 0;
  width: 100%;
  text-align: center;
}

.usersGridView md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; 
  text-align: center;
}

.usersGridView md-grid-tile md-grid-tile-header {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; 
  text-align: center;
}
